.idea/
.DS_Store
__pycache__/
*.pyc

/src-tauri/target/
/node_modules/
/dist/
/.docmind-cache/
/.docmind-build/
/src-tauri/app-resources/*
!/src-tauri/app-resources/.gitkeep
/src-tauri/resources/*
!/src-tauri/resources/.gitkeep
/.docmind-dev/
/ui-prototype/*

/.seekmind-cache/
/.seekmind-build/
/.seekmind-dev/
