.idea/
__pycache__/
*.pyc

/src-tauri/target/
/node_modules/
/dist/
/.docmind-cache/
/.docmind-build/
/src-tauri/app-resources/
/src-tauri/resources/
/.docmind-dev/
/ui-prototype/*

/.seekmind-cache/
/.seekmind-build/
/.seekmind-dev/
